# Dependencies
node_modules/
data_and_server/node_modules/
server/node_modules/

# Build folders
data_and_server/build/
server/build/

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
